@{
    ViewBag.Title = "Await Confirmation";
}

<h2>Awaiting Approval Confirmation</h2>

<p>Thanks for registering. Your request is awaiting approval and you will receive an email to @ViewBag.Email once approval is granted.</p>
